p {
    margin-left: 100px;
    margin-right: 100px;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

form {
        margin-bottom: 80px;
}