{% extends 'base_generic.html' %}

{% block content %}
{% load crispy_forms_tags %}

    <p>
        Dziękujemy za zainteresowanie pracą promotora / promotorki.
        Powierzone dane są wykorzystywane jedynie przez firmę Brand Live do kontaktu z osobami zainteresowanymi współpracą.
        Dane nigdy nie będę przedmiotem tranzakcji. Możesz je usunąć w każdej chwili za pomocą przycisku "Usuń profil".
    </p>

    <h3 class="main-title" style="text-align: center">Create Profile</h3>
    <div style="width: 50%; margin-left: 150px">
        <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary" type="submit">Prześlij</button>
        </form>
    </div>


{% endblock %}

